Django==5.0.6
django-reversion
django-extensions
xlwt
xlsxwriter
cx_Oracle
gunicorn
psycopg2-binary
gunicorn
whitenoise==3.3.1
django-appconf
django-multiselectfield
jinja2
icalendar
recurring-ical-events
pexpect
daphne
pydotplus
faker
django-database-view